<a id="good"href="/"> <img id="normal"src="/assets/fireFlower.png"></a>
<a id="evil"href="/"><img id="flowey" src="https://i.imgur.com/RIm74Gh.gif"/></a>
<h1>GAMER NODE</h1>
<!-- <i class="fas fa-bars"></i> -->