<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./pages/partials/head')%>
</head>

<body>
  <header>
    <%-include('./pages/partials/header')%> 
  </header>

  <main>
    <section class="formSearchContainer">

      <form action="/gameSearches/show" method="POST">

        <input type="text" name="name" placeholder="Search for game, genre, company" required>

        <input type="text" name="typeOfSearch" placeholder="Type of Search" required>


        <!-- Does not work -->
        <!-- <select required>
          <option disabled selected value>Search By</option>
          <option name="typeOfSearch" value="name">Name</option>
        </select> -->


        <button type="submit">Search</button>

      </form>

  </section>


  Game Layout Partial
  <section>
    <h3>Title</h3>
    <h3>Creator</h3>
    <h3>Description</h3>
  </section>
</main>


  <footer>
      <%-include('./pages/partials/footer')%>
  </footer>
  
</body>
</html>