<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('../partials/head')%>  
</head>
<body>
  <main>
    <header>
          <%-include('./pages/partials/header')%> 
    </header>

    <footer>
      <%-include('./pages/partials/footer')%>
    </footer>
</main>
</body>
</html>