<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../pages/partials/head')%>  
  </head>
  <body>
    <main>
    <header>
      <%-include('../pages/partials/header')%> 
    </header>

      <h1><%= about %></h1>
      <p><a href="/">Home</a></p>


    <div class="container">
       <h1>Felipe Delatorre</h1>
       <br>
      <section class="normal profileCards">
        <img src="https://picsum.photos/100/100"/>
        <p>Obviously good optics low-hanging fruit optics. That jerk from finance really threw me under the bus touch base. Root-and-branch review. Prioritize these line items work but this vendor is incompetent in an ideal world marketing computer development html roi feedback team website.</p>
      </section>
      <br>
      <section class="gamer profileCards">
        <br>
        <img src="http://placeimg.com/200/200"/>
        <h3>The Looks</h3>
        <br>
        <p>Currently Playing:<p>
        <br>
        <p>Favorite Game of All Time:<p> 
      </section>

      <br>

      <h1>Edric DeArment</h1>
      <br>
      <section class="front profileCards">
        <img src="https://picsum.photos/100/100"/>
        <p>Forcing function staff engagement we have put the apim bol, temporarily so that we can later put the monitors on. Quantity anti-pattern and hit the ground running best practices. Drink the Kool-aid. Organic growth pulling teeth, nor it's not hard guys i am dead inside and run it up the flag pole.</p>
      </section>
      <br>
       <section class="gamer profileCards">
        <img src="http://placeimg.com/200/200"/>
        <h3>The Wild Card</h3>
        <p>Currently Playing:<p>
        <p>Favorite Game of All Time:<p> 
      </section>

      <br>


      <h1>Tia Rose</h1>
      <br>
      <section class="front profileCards">
        <img src="https://picsum.photos/100/100"/>
        <p>Downselect deploy pixel pushing churning anomalies anti-pattern. What the products need full resourcing and support from a cross-functional team in order to be built, maintained, and evolved but we just need to put these last issues to bed, for criticality , but draw a line in the sand, or bench mark, we need to harvest synergy effects.</p>
      </section>
       <section class="gamer profileCards">
       <br>
       <img src="http://placeimg.com/200/200"/>
        <h3>The Muscle</h3>
        <p>Currently Playing: Super Smash Bros<p>
        <p>Favorite Game of All Time: Grand Theft Auto V<p> 
      </section>

      <br>

      <h1>Matt Wilkin</h1>
      <br>
      <section class="front profileCards">
        <img src="https://picsum.photos/100/100"/>
        <p>We need to start advertising on social media old boys club market-facing, nor on-brand but completeley fresh pivot or out of the loop deploy. If you want to motivate these clowns, try less carrot and more stick digitalize yet drink the Kool-aid quarterly sales are at an all-time low yet run it up the flag pole for let's schedule a standup during the sprint to review our kpis.</p>
      </section>
       <section class="gamer profileCards">
       <br>
       <img src="http://placeimg.com/200/200"/>
        <h3>The Brains</h3><br>
        <p>Currently Playing:<p>
        <p>Favorite Game of All Time:<p> 
      </section>
    </div>

      <footer>
          <%-include('../pages/partials/footer')%>
      </footer>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous">
    </script>
  </body>
</html>