<!DOCTYPE html>
<html lang="en">

  Head Partial
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Game Node</title>
</head>
<body>

  Header Partial
  <header></header>
  
  <section>
    <h1>Name</h1>
    <img>
    <p></p>
  </section>

  <section>
      <h1>Name</h1>
      <img>
      <p></p>
    </section>

    <section>
        <h1>Name</h1>
        <img>
        <p></p>
      </section>

      <section>
          <h1>Name</h1>
          <img>
          <p></p>
        </section>


  Fooder Partial
  <footer>
  </footer>
  
</body>
</html>