<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../pages/partials/head')%>  
  </head>
  <body>
    <main>
    <header>
      <%-include('../pages/partials/header')%> 
    </header>
      <h1><%= about %></h1>

    <div class="container" id="memberContainer">

      <div class=memberCard id="Fel">

        <div class="front profileCards">
          <h2>Felipe Delatorre</h2>
          <img src="https://picsum.photos/100/100"/>
          <p>Obviously good optics low-hanging fruit optics. That jerk from finance really threw me under the bus touch base. Root-and-branch review. Prioritize these line items work but this vendor is incompetent in an ideal world marketing computer development html roi feedback team website.</p>
        </div>
      
        <div class="gamer profileCards">
          <h2>The Looks</h2>
          <img src="http://placeimg.com/200/200"/>
          <p>Currently Playing:<p>
          <p>Favorite Game of All Time:<p> 
        </div>

      </div>

      <div class="memberCard" id="Ed">

        <div class="front profileCards">
          <h2>Edric DeArment</h2>
          <img src="https://picsum.photos/100/100"/>
          <p>Forcing function staff engagement we have put the apim bol, temporarily so that we can later put the monitors on. Quantity anti-pattern and hit the ground running best practices. Drink the Kool-aid. Organic growth pulling teeth, nor it's not hard guys i am dead inside and run it up the flag pole.</p>
        </div>

        <div class="gamer profileCards">
          <img src="http://placeimg.com/200/200"/>
          <h2>The Wild Card</h2>
          <p>Currently Playing:<p>
          <p>Favorite Game of All Time:<p> 
          </div>

      </div>

      <div class="memberCard" id="Tia">

        <div class="front profileCards">
          <h2>Tia Rose</h2>
          <img src="https://picsum.photos/100/100"/>
          <p>Downselect deploy pixel pushing churning anomalies anti-pattern. What the products need full resourcing and support from a cross-functional team in order to be built, maintained, and evolved but we just need to put these last issues to bed, for criticality , but draw a line in the sand, or bench mark, we need to harvest synergy effects.</p>
        </div>

        <div class="gamer profileCards">
          <img src="http://placeimg.com/200/200"/>
          <h2>The Muscle</h2>
          <p>Currently Playing: Super Smash Bros<p>
          <p>Favorite Game of All Time: Grand Theft Auto V<p> 
        </div>
      </div>
  
      <div class="memberCard" id="Mat">
        <div class="front profileCards">
          <h2>Matt Wilkin</h2>
          <img src="https://picsum.photos/100/100"/>
          <p>I am a software developer and technology professional with a background in patent law. I am focused on developing my knowledge and proficiency in JavaScript, CSS and HTML. I'm currently enrolled in the Apprenti program through COCC/DevStation powered by Code Fellows and am looking forward to applying my skill set in an ever-evolving technology landscape.</p>
        </div>

        <div class="gamer profileCards">
        <br>
        <img src="http://placeimg.com/200/200"/>
        <h2>The Brains</h2><br>
        <p>Currently Playing:<p>
        <p>Favorite Game of All Time:<p> 
        </div>
      </div>
    </div>

      <footer>
          <%-include('../pages/partials/footer')%>
      </footer>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous">
    </script>
  </body>
</html>