<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../pages/partials/head')%>  
  </head>
  <body>
    <main>
      <header>
        <%-include('../pages/partials/header')%> 
      </header>
      <section class="poison">
        <img id="poisonImg" src="/assets/poisonMushroom.png">
        <p><%= error %></p>
      </section>
      <footer>
          <%-include('../pages/partials/footer')%>
      </footer>
    </main>
  </body>
</html>