@import url("reset.css");
@import url("layout.css");
@import url("modules.css");

/* Colors Thanks to canva.com
Leaves #506D2F, Bark #2A2922, Marble #F3EBDD, Brownstone #7D5646 */

body {
  background-color: #2A2922;
  padding-bottom: 11vh;
}

h1, h2, p {
  color: #F3EBDD;
}

footer{
  display: flex;
  align-items: baseline;
  align-content: center;
  position:fixed;
  left:0px;
  bottom:0px;
  background-color: #506D2F;
  font-family: 'Righteous', cursive;
  width: 100%;
}

#search {
  background-color: Bark #7D5646;
  font-family: 'Righteous', cursive;
}