@import url("reset.css");
@import url("layout.css");

/* Colors Thanks to canva.com
Leaves #506D2F, Bark #2A2922, Marble #F3EBDD, Brownstone #7D5646 */

body {
  background-color: #2A2922;
}

h1, h2, p {
  color: #F3EBDD;
}

header {
  height: 10vh;
  width: 100%;
  background-color: #506D2F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  margin: 1%;
  height: 75% ;
  width: auto;
}

header i {
  margin-right: 50px;
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  
  height: 10vh;
  width: 100%;
  background-color: #7D5642;
}

