header {
  height: 10vh;
  width: 100%;
  background-color: #506D2F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a{
  outline: 2px solid purple;
  width: 20%;
  height: 100%;
}

header a img {
  margin: 10% 0 0 10%;
  height: 80% ;
  width: auto;
  outline: 2px solid yellow;
}

header i {
  margin-right: 50px;
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  
  height: 10vh;
  width: 100%;
  background-color: #7D5642;
}
