/* index */
.showContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; 
}

.card {
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  margin: 5%;
  max-width: 50vw;
}

.card h2{
  font-size: 3vw; 
}

.viewButton {
  margin-top: 15%;
  border-radius: 5px;
  font-size: 4vh;
  font-family: 'Righteous', cursive;
}

button{
  background-color: gray;
}

form{
  background-color: #2A2922;
}

.formSearchContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.formSearchContainer input{
  height: calc(6vh + 10px);
  background-color: #F3EBDD;
  color: #506D2F;
  text-align: center;
  margin: 0% 0% 2% 0%;
  border-radius: 5px;
  font-size: 4vw;
}

.formSearchContainer button{
  padding: 5%;
  background-color: #2A2922;
  color: #F3EBDD;
  border-radius: 5px;
}

/* Results page */
/* Show-hide button */
.listOfSearchedGames h1, h2{
  font-size: 6vw;
}

.listOfSearchedGames h4{
  font-size: 5vw;
}


.hideMe{
  display: none;
}


/* Details Page */
.detail h2{
  font-size: 4vw;
}

.detail p{
  text-align: center;
  font-size: 3vw;
}

.updateForm p{
  font-size: 10vw;
  margin-left: 18%
}

.updateForm button{
  font-size: 200%;
}

input[type=checkbox]{
  zoom: 3.5;
}

.updateForm input{
  margin-left: 5%;
}


/* About Us */


h1{
  font-size: 3.5em;
  text-align: center;
}

#memberContainer {
  width: 90vw;
  height: 90%;
}

.memberCard {
  display:flex;
  margin-top:10%;
  width: 100%;
  height: 90%;
  margin-left: 5%;
}

.memberCard h2{
  font-weight: bold;
}

.memberCard a{
  margin-left: 10%;
}

.memberCard p{
  font-size: 3.5vw;
}

.profileCards span{
  text-decoration: underline;
  font-size: 3.5vw;
}

.front{
  word-wrap:break-word;
  width:50vw;
  text-align: center;
}
.front img {
  width: 100px;
  height: 100px;
  margin-top: 5%;
  margin-bottom: 5%;

}
.gamer {
  text-align: center;
  width:50vw;
}

.hideMe {
  font-size: 2vw;
  display: none;

}

.gamer img {
  width: 100px;
  height: 100px;
}

.deleteForm{
  background-color: #F3EBDD;
  margin: 1%;
  text-align: center;
  font-size: 200%;
}

/* Footer */
.fab{
  font-size: 220%;
}
