.formSearchContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.formSearchContainer input{
  height: 5vh;
  background-color: #F3EBDD;
  color: #506D2F;
  text-align: center;
  margin: 0% 0% 2% 0%;
  border-radius: 5px;
}

.formSearchContainer button{
  padding: 5%;
  background-color: #2A2922;
  color: #F3EBDD;
  border-radius: 5px;
}

footer{
  margin-top: 10%;
}

footer a{
  font-size: 36px;
  margin-left: 5%;
}

/* About Us */

h1, p{
  text-align: center;
}


.profileCards{
  outline: 5px white solid;
  display: flex;
}

.profileCards p {
  max-width: 45%;
}

.profileCards img{
  max-height: 130px;
}

.gamer{
  max-width: 70%;
  margin-top: 5%;
  display: none;
}
