header {
  display: flex;
  height: 12vh;
  width: 100%;
  background-color: #506D2F;
  text-align: center;
  margin-bottom: 2%;  
}

header a{
  width: 20%;
  height: 100%;
}
  
header a img {
  height: 80% ;
  width: auto;
  margin-top: 5%;
  margin-left: 20%;
}
  
header h1 {
  flex-grow: .75;
  align-self: center;
  margin-right:10%;
  font-size: 300%;
  font-family: 
  'Righteous', cursive;
}
#search {
  font-size: 400%;
  font-family: 'Righteous', cursive;
  background-color: #7D5646;
}

.poison {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  font-family: 'Righteous', cursive;
  font-size: 220%;
}

.poison p {
  color:#7B40C4;
}

.gameCounter{
  font-size: 200%
}

.viewButton {
  margin-bottom: 30%; 
}

h2{
  font-size: 2em;
} 
  
footer {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  font-size: 200%;
  align-items: center;
  
}
  
.formSearchContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
  
.formSearchContainer input{
  height: 5vh;
  background-color: #F3EBDD;
  color: #506D2F;
  text-align: center;
  margin: 0% 0% 2% 0%;
  border-radius: 5px;
}
  
.formSearchContainer button{
  background-color: #2A2922;
  color: #F3EBDD;
  border-radius: 5px;
}

.listOfSearchedGames {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Righteous', cursive;
}
  
.individualGame img {
  height: 30vh;
  width: auto;
  margin: 4%;
}

.detail{
  display: flex;
  flex-direction: column;
  font-family: 'Righteous', cursive;
  justify-content: center;
  align-items: center;
  margin: 3%;
  text-align: center;
}

.detail h2{
  font-size: 140%;
}

.updateForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
  
}
 .updateForm img{
   margin: 1%;
 }

.updateForm button {
  background-color: #7D5646;
  font-family: 'Righteous', cursive;
  margin-left: 5%;
}

.deleteForm{
  background-color: #F3EBDD;
  margin: 1%;
  text-align: center;
}

.deleteForm button{
  font-family: 'Righteous', cursive;
  font-size: 100%;
}


/* searches/show */

.listOfSearchedGames img {
  max-width: 90px;
  height: auto;
  margin: 1%;
}

.listOfSearchedGames button {
  border-radius: 5px;
  background-color: #506D2F;
  font-size: 280%;
  margin: 2%;
  padding: 1%;
}

.listOfSearchedGames h2{
  margin: 1%;
}

.selectGame {
  font-family: 'Righteous', cursive;
}

.addToDatabase{
  font-family: 'Righteous', cursive;
}

.poison{
  display: flex;
  align-items: center;
  align-content: center;

}

#poisonImg{
  max-width: 425px;

}